.App {
  text-align: center;
  color: black;
}
.header {
  margin: 0;
  background-color: brown;
  padding: 5px;
  text-align: center;
  color: white;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
}
table {
  width: 80%;
  margin-top: 100px;
}
.tr {
  padding: 0 9px 0 9px;
  margin-top: 20px;
}

th,
td {
  border: 10px solid black !important;
}
.error {
  color: red;
  width: 223px;
}
